.forms {
    margin: 10px;
    width: fit-content;
    height: fit-content;
    gap: 10px;
    padding: 5px;
    /* ----------change based on the use----------*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.form {
    position: relative;
    filter: drop-shadow(0 0 2px #000000);
    border-radius: 5px;
    /* ----------change based on the use----------*/
    width: 400px;
    height: fit-content;
    background-color: #ffffff;
    padding: 40px;
    margin: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form img {
    margin: 10px;
    position: relative;
    /* ----------change based on the use----------*/
    height: 300px;
    width: 300px;
    cursor: pointer;
}