<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Farm</title>
    <link rel="stylesheet" type="text/css" href="../css/general.css">
    <link rel="stylesheet" type="text/css" href="../css/farm.css">
    <script type="text/javascript" src="../js/farm.js"></script>
</head>

<body>
    <div class="topnav">
        <div class="text_logo">
            <h2>Touch of Life Organization</h2>
        </div>
        <nav class="links" style="--items: 2;">
            <a href="/" class="active">Home</a>
            <a href="/admin">Admin page</a>
            <span class="line"></span>
        </nav>
    </div>

    <% for (var cat of cats) { %>
        <div class="card">
            <div class="form">
                <form>
                    <div>
                        <img src=< %=cat.imgUrl %> >
                    </div>
                    <h3>ID:
                        <p id="id">
                            <%=cat._id %>
                        </p>
                    </h3>
                    <h3>Name:
                        <p id="name">
                            <%=cat.name %>
                        </p>
                    </h3>
                    <h3>Breed:
                        <p id="name">
                            <%=cat.breed %>
                                <%=cat.specie %>
                        </p>
                    </h3>
                </form>
            </div>
        </div>
        <% } %>

            <div class="card">
                <div class="form" action="/adoptRequest">
                    <form>
                        <p>
                            If you would like to adopt me 🐕 🐕
                        </p>
                        <p>Enter the following information</p>
                        <input type="text" required placeholder="my Animal ID" id="id" autocomplete="off" />
                        <input type="text" required placeholder="Your Name" id="your_name" autocomplete="off" />
                        <input type="text" required placeholder="your Phone Number" id="phone_number" autocomplete="off" />
                        <button type="submit">Adopt</button>
                    </form>
                </div>
            </div>

            <footer>
                <p id="contact">Contact us here!</p>
                <div class="contacts_bar">
                    <a href="https://web.facebook.com/TOLAnimalSanctuary/about"> <img class="clogo" src="../imgs/icons/fb.png" alt="Facebook"> </a>
                    <a href=""> <img class="clogo" src="../imgs/icons/email.png" alt="Email"> </a>
                    <a href=""> <img class="clogo" src="../imgs/icons/phone.png" alt="Telephone"> </a>
                </div>
                <p>TOUCH OF LIFE Organization Reg.nr 2897 - 03/5/07 Ministry of Social Affairs Giza- EGYPT
                </p>
            </footer>

</body>

</html>